 <html lang="es">
 <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Listado de personas</title>
 </head>
 
 <body style="">
    <h1>Personas Registradas</h1>
    <table border="2" style="text-align:center">
      <thead>
         <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Tipo de Documento</th>
            <th>Documento</th>
            <th>Fecha Nacimiento</th>
            <th>Telefono</th>
            <th>Residencia</th>
            <th>Usuario</th>
            <th>Opcion</th>
         </tr>
      </thead>
      <tbody>
         {% for persona in personas %}
         <tr>
            <td>{{ persona.nombres }}</td>
            <td>{{ persona.apellidos }}</td>
            <td>{{ persona.correo }}</td>
            <td>{{ persona.idTipoDocumento.nombre}}</td>
            <td>{{ persona.documento }}</td>
            <td>{{ persona.fechaNacimiento }}</td>
            <td>{{ persona.telefono}}</td>
            <td>{{ persona.lugarResidencia.nombre}}</td>
            <td>{{ persona.usuario}}</td>
            <td><a href="{% url 'editar_persona' persona.id %}"><button class="btn btn-primary" >Editar </button></a> o <a href="{% url 'eliminar_persona' persona.id %}"><button class="btn btn-danger" >Eliminar </button></a></td>
            
         </tr>
         {% endfor %}
      </tbody>
    </table>
    <br>
    <a href="/crear_persona"><button class="btn btn-success" >Registrar</button></a>
 </body>
 </html>

